<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AgenteListServlet</servlet-name>
        <servlet-class>cr.casino.catalogoCasino.controller.AgenteListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteListServlet</servlet-name>
        <servlet-class>cr.casino.catalogoCasino.controller.ClienteListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductoListServlet</servlet-name>
        <servlet-class>cr.casino.catalogoCasino.controller.ProductoListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicioArchivo</servlet-name>
        <servlet-class>servicio.ServicioArchivo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AgenteListServlet</servlet-name>
        <url-pattern>/AgenteListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteListServlet</servlet-name>
        <url-pattern>/ClienteListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductoListServlet</servlet-name>
        <url-pattern>/ProductoListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicioArchivo</servlet-name>
        <url-pattern>/ServicioArchivo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
